# Include specific file types in 'oiio_python' directory and all subdirectories
recursive-include oiio_python *.py *.txt *.cpp *.yml *.patch

include oiio_python/OpenImageIO/*.*
include oiio_python/PyOpenColorIO/*.*

recursive-include oiio_python/OpenImageIO/tools *
recursive-include oiio_python/OpenImageIO/licenses *
recursive-include oiio_python/PyOpenColorIO/tools *
recursive-include oiio_python/PyOpenColorIO/licenses *

recursive-exclude oiio_python/recipes/dependencies/libraw/src *
recursive-exclude oiio_python/recipes/dependencies/libraw/build *
recursive-exclude oiio_python/recipes/dependencies/libraw/test_package/build *

recursive-exclude oiio_python/recipes/dependencies/opencolorio/src *
recursive-exclude oiio_python/recipes/dependencies/opencolorio/build *
recursive-exclude oiio_python/recipes/dependencies/opencolorio/test_package/build *

recursive-exclude oiio_python/recipes/openimageio/src *
recursive-exclude oiio_python/recipes/openimageio/build *
recursive-exclude oiio_python/recipes/openimageio/test_package/build *
